.env
.env.*
!.env.example
!.env.production.example
!**/.env.example

.venv/
venv/
**/venv/
node_modules/
**/node_modules/
dist/
**/dist/
__pycache__/
**/__pycache__/
.pytest_cache/
**/.pytest_cache/

backend/.env
frontend/.env

*.lnk
