EMARKET_ENV=development
EMARKET_SESSION_TTL_MINUTES=60
EMARKET_COOKIE_SECURE=false
EMARKET_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
EMARKET_LOGIN_MAX_ATTEMPTS=5
EMARKET_LOGIN_LOCK_MINUTES=15
EMARKET_LOG_LEVEL=INFO
